footer {
  padding: 3.2rem 0 3.2rem 0;
  max-width: 120rem;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.footer-logo {
  width: 18rem;
}

.footer-text {
  color: #fff;
}

.footer-header {
  font-size: 1.6rem;
  font-weight: 400;
}

@media (max-width: 34em) {
  .footer-header {
    text-align: center;
  }
}
