.section-map {
  /* border-top: 1px solid rgba(235, 235, 235, 0.5); */

  padding: 6.4rem 0 12rem 0;
  background-color: #ebebeb;
}

.map {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4.6rem;
  align-items: center;
  color: #212529;
}

.map-heading {
  font-weight: 700;
  /* color: #fff; */
  font-size: 5.2rem;
  line-height: 1.05;
  display: flex;
  align-items: center;
  gap: 2.8rem;
}

.map-description {
  font-size: 2rem;
  line-height: 1.8;
  /* margin-bottom: 0.8rem; */
}

.contact {
  display: flex;
  margin: 0 auto;
  gap: 15rem;
  justify-content: space-between;
  /* justify-content: space-around; */
}

.map-container {
  width: 100%;
}

.map-header {
  font-weight: 500;
  margin-bottom: 3rem;
}

.info-inner-container {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}
.info-header {
  font-weight: 500;
  margin-bottom: 3rem;
  /* color: #ff6700; */
}

.map-pin {
  /* width: 1.5rem; */
  font-size: 6rem;
}

.map-phone {
  /* width: 1.5rem; */
  font-size: 2.5rem;
}

.map-mail {
  /* width: 1.5rem; */
  font-size: 2.7rem;
}

.info-paragraph {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.info-links:link,
.info-links:visited {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
  cursor: pointer;
}

.info-links:hover,
.info-links:active {
  color: #ff6700;
}

/* --------------- MEDIA QUERIES -------------- */

@media (max-width: 34em) {
  .section-map {
    padding: 4.8rem 0 4.8rem 0;
  }

  .map {
    gap: 4.8rem;
    padding: 0 1.2rem;
    align-items: center;
  }

  .contact {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 4.6rem;
    justify-content: space-between;
    /* justify-content: space-around; */
  }

  .map-heading {
    font-size: 4.2rem;
    gap: 2rem;
    /* justify-content: center; */
  }

  .map-header {
    font-weight: 700;
  }

  .info-header {
    font-weight: 700;
  }

  .about-description {
    text-align: center;
  }
}
