.section-testimonials {
  padding: 6.4rem 0 6.4rem 0;
  /* background-color: #ebebeb; */
  background-color: #fff;
}

.testimonials {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4.6rem;
  align-items: center;
  color: #333;
}

.testimonials-container {
  max-width: 120rem;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  /* align-items: center; */
}

.testimonials-heading {
  font-weight: 700;
  color: #212529;
  font-size: 5.2rem;
  line-height: 1.05;
  display: flex;
  align-items: center;
  gap: 2.8rem;
}

.heading-text {
  /* padding-left: 2.6rem; */
}

.heading-highlight {
  color: #ff6700;
  /* color: #cc5200; */
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.25rem;
  font-size: 1.8rem;
  /* font-style: italic; */
}

.testimonials-description {
  font-size: 2rem;
  line-height: 1.8;
  /* margin-bottom: 4.8rem; */
}

.testimonials-img-box {
  text-align: center;
  /* padding-right: 9.6rem; */
}

.testimonials-img {
  width: 70%;
}

.testimonials-text-box {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

/* --------------- MEDIA QUERIES -------------- */

@media (max-width: 34em) {
  .section-testimonials {
    padding: 4.8rem 0 4.8rem 0;
  }

  .testimonials {
    padding: 0 1.2rem;
  }

  .testimonials-heading {
    font-size: 4.2rem;
    gap: 2rem;
    /* justify-content: center; */
    /* align-items: center; */
  }

  .about-description {
    text-align: center;
  }
}
